asgiref
aspy.yaml
async-generator
attrs
backports.zoneinfo
beautifulsoup4
certifi
Click
Django
requests
requests-toolbelt
requests-unixsocket
responses
selenium
sqlparse
virtualenv
wadllib
webdriver-manager
